html{
    height: 100%;
}
body{
    margin: 0;
    width: 100%;
    height: 100%;
}

.score-board{
    margin-top: 50px;
    width: 100%;
}
.player-board{
    width: 50%;
    text-align: center;
}
.player-a{
    float: left;
}
.player-b{
    float: right;
}

.fire-container{
    width: 100%;
    height: 100px;
    text-align: center;
}
.fire{
    margin-top: 50px;
}
.canvas-container{
    padding: 0;
    margin: auto auto;

}
canvas {
    width: 75vw;
    height: 75vw;
}

.link-copied{
    background-color: #fff;
    border: 1px solid rgba(255, 0, 0, 0.75) !important;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.075) !important;
}

.copy-link-container{
    display: none;
}

#game-exists{
    display: none;
    margin-top: 50px;
}

#goto-game-container{
    margin-top: 20px;
}

.player-board{
    margin-bottom: 10px;
}
.player-board > div {
    width: 200px;
    margin: 0 auto;
}

.player-a.next-in-turn div{
    box-shadow: 0 0 3px rgba(0,0,255,1);
    border: 1px solid rgba(0,0,255,0.75);
    border-radius: 3px;
}

.player-b.next-in-turn div{
    box-shadow: 0 0 3px rgba(255,0,0,1);
    border: 1px solid rgba(255,0,0,0.75);
    border-radius: 3px;
}
.not-allowed{
    cursor: not-allowed;
}

.board{
    font-family: "Courier New";
    display: none;
}

#game-creator .form-control{
    margin-bottom: 5px;
}

.games-list a{
    margin-left: 10px;
}
.games-list .label{
    margin-right: 3px;
}

.game-name{
    font-size: 1.5em;
}

.allow-delete-games{
    margin-bottom: 5px;
}
.delete-game{
    display: none;
}
.leave-game{
    display: none;
}
.game-icon{
    width: 70px;
    height: 70px;
}
.game-icon-container{
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5) ;
}
.game-shape .btn{
    width: 180px;
}

#movements{
    text-align: center;
}

.users-table{
    background-color: rgb(255,255,255);
}

.how-to dd, .how-to dt{
    margin-bottom: 20px;
}

.games-order{
    margin-bottom: 5px;
}

#user-view-tabs{
    margin-bottom: 5px;
}

.player-row{
    display: none;
}


@media all and (max-width: 640px)
{
    canvas{
        width: 100vw;
        height: 100vw;
        max-width: 100vw;
        max-height: 100vw;
    }
    .score-board{
        margin-top: 0;
    }

    .game-icon{
        width: 80px;
        height: 80px;
    }

    .game-shape .btn{
        width: 100px;
    }
    .game-shape .btn .game-icon{
        width: 60px;
        height: 60px;
    }
    .game-shape .btn span{
        display: none;
    }
}

@media all and (orientation: landscape){
    canvas{
        width: 100vh;
        height: 100vh;
        max-width: 85vh;
        max-height: 85vh;
    }
}
